
/libreries
.vscode/

venv.*
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.log
*.pyc
*.pyd

.env
*.sqlite3
instance/
*.db
migrations/
*.pot
*.mo
*.egg-info/
dist/
build/
coverage.xml
htmlcov/
*.cover
*.pid
*.swp

uploads/*